<!doctype html>
<html>
  <body>
    <h2>Password reset request</h2>
    <p>Hello {{name}},</p>
    <p>We received a request to reset your password. Click below to reset:</p>
    <p><a href="{{resetUrl}}">Reset Password</a></p>
    <p>If you didn't request this, ignore this email.</p>
    <hr/>
    <small>Token (1 hour): <code>{{token}}</code></small>
  </body>
</html>
