<!doctype html>
<html>
  <body>
    <h2>Welcome to Scholarship Platform, {{name}} 👋</h2>
    <p>Thanks for joining. Please verify your email to get started.</p>
    <p><a href="{{verifyUrl}}">Verify your email</a></p>
    <p>If that link doesn't work, use this code: <code>{{token}}</code></p>
    <hr/>
    <small>If you didn't sign up, ignore this email.</small>
  </body>
</html>
